* {
  box-sizing: border-box;
}

body {
  font-family: 'Comfortaa', cursive;
  margin: 0;
  background-color: #F7F3FD;
}
.app{
  display: flex;
  
}
.logo{
  margin-bottom: 50px;
}
.panel{
  background: white;
  min-height: 100vh;
  padding: 30px;
}
.menu{
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}
.menu__list{
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}
.menu__item{
  background: #FFF;
  box-shadow: 0px 8px 14px 0px rgba(133, 62, 224, 0.12);
  border-radius: 14px;
  border: none;
  height: 45px;
  width: 45px;
  cursor: pointer;
}
.menu__item:hover{
  background: #c14ffa;
}
.menu__item:hover img{
  filter: brightness(0) invert(1);
}
.menu__item_active{
  background: #BD42F9;
}
.menu__item_active img{
  filter: brightness(0) invert(1);
}

.menu__add{
  background: none;
  border: 1px solid #E9BDFF;
  border-radius: 14px;
  height: 45px;
  width: 45px;
  cursor: pointer;
}
.menu__add:hover{
  background: #faf1ff;
}

.content{
  min-width: 900px;
  padding: 45px;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1{
  font-size: 30px;
  line-height: 33px;
  color: #000000;
}

.progress{
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 235px;
}

.progress__text{
  display: flex;
  justify-content: space-between;
}

.progress__name{
  font-size: 14px;
  line-height: 16px;
  color: #5A235F;
}

.progress__percent{
  font-style: 12px;
  line-height: 13px;
  color: #887696;
}

.progress__bar{
  width: 100%;
  background: #E9E6ED;
  border-radius: 4px;
  height: 5px;
  position: relative;
}

.progress__cover-bar{
  position: absolute;
  transition: all 0.5s;
  height: 5px;
  border-radius: 4px;
  background: #BD42F9;
}

main{
  margin-top: 30px;
}

.habbit{
  background: #FFF;
  display: flex;
  border-radius: 10px;
  align-items: center;
  margin-bottom: 12px;
}

.habbit__day{
  background: #FBFAFF;
  border-radius: 10px 0 0 10px;
  border-right: 1px solid #E7EBFB;
  font-size: 14px;
  line-height: 16px;
  padding: 20px 40px;
  min-width: 150px;
}

.habbit__comment{
  font-size: 16px;
  line-height: 18px;
  padding: 20px 25px;
}

.habbit__delete{
  margin-left: auto;
  margin-right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 2px;
}

.habbit__delete:hover{
  background: #faf1ff;
}

input{
  border-radius: 9px;
  border: 1px solid #F2E7FB;
  background: #FFF;
  padding: 12px 20px;
  font-family: 'Comfortaa', cursive;
  flex: 1;
  font-weight: 400;
  font-style: 14px;
  line-height: 16px;
}

.input::placeholder{
  color: #887696;
}

input.error{
  border: 1px solid red;
}

.habbit__form{
  display: flex;
  gap: 15px;
  width: 100%;
  padding: 0 10px 0 25px;
  position: relative;
}

.input_icon{
  padding-left: 45px;
}

.input__icon{
  position: absolute;
  top: 10px;
  left: 45px;
}

.button{
  border-radius: 9px;
  background: #F9ECFF;
  border: none;
  color: #BD42F9;
  line-height: 14px;
  font-size: 13px;
  padding: 14px 30px;
  cursor: pointer;
}

.button:hover{
  background: #f4dbff;
}

.cover{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover_hidden{
  display: none;
}

.popup{
  background: #FFF;
  border-radius: 10px;
  box-shadow: 0px 8px 14px 12px rgba(56, 56, 56, 0.05);
  max-width: 600px;
  width: 100%;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup__close{
  position: absolute;
  right: 15px;
  top: 15px;
  border: none;
  background: none;
  cursor: pointer;
}

h2{
  font-size: 24px;
  font-weight: 400;
  line-height: 27px;
}

.icon-label{
  font-size: 14px;
  line-height: 16px;
  color: #887696;
  margin-bottom: 10px;
}

.icon-select{
  display: flex;
  gap: 25px;
  margin-bottom: 20px;
}

.icon{
  border: 1px solid #BD42F9;
  border-radius: 14px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.icon_active{
  background: #BD42F9;
}

.icon:hover{
  background: #C860FB;
}

.icon:hover img{
  filter: brightness(0) invert(1);
}

.icon_active img{
  filter: brightness(0) invert(1);
}

.popup__form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.popup__form input{
  width: 100%;
}



